
<% @learnings.each do |learning| %>
  <div>
    <h4>Learning Title</h4>
    <%= link_to learning_path(learning.id) do %>
      <%= learning.learning_name %>
    <% end %>

    <h4>Learning Image</h4>
    <%= attachment_image_tag learning, :learning_image %>

    <h4>Learning Detail</h4>
    <%= learning.learning_detail %>

    <h4>Registrated Date</h4>
    <%= learning.learning_post_date %>

    <p><%= link_to "#{learning.learning_comments.count} コメント", learning_path(learning.id) %></p>

  </div>
<% end %>

<%= paginate @learnings %>