<div class="container show-box">
  <div class="col-8 mx-auto">
    <div class="row">
      <div class="mx-auto">
        <h3 class="show-title"><%= attachment_image_tag @learning, :learning_image, :fill, 40, 40, class: 'learning-show-img' %>
        <%= @learning.learning_name %></h3>
      </div>
    </div>
    <h4>コースの詳細</h4>
    <p class="show-detail"><%= @learning.learning_detail %></p>

    <p>
      コースの投稿日：
      <% if @learning.learning_post_date.nil? %>
        no data
        <% else %>
        <%= @learning.learning_post_date %>
      <% end %>
    </p>

    <% if @learning.user == current_user %>
      <%= link_to "コースを編集する", edit_learning_path(@learning), mothod: :edit %>
      <%= link_to "コースを削除する", learning_path(@learning), method: :delete %>
    <% end %>

  </div>
</div>


<div>
  <p>chapter</p>
  <p>chaptercount:<%= @learning.chapters.count %></p>
  <div>
    <% @learning.chapters.each do |chapter| %>
    <p><%= chapter.title %></p>
    <p><%= chapter.chapter_text %></p>
    <% end %>
  </div>
</div>

<div>
  <%= form_with(model: [@learning, @chapter], local:true) do |f| %>
    <p>title</p><%= f.text_field :title %></br>
    <p>text</p><%= f.text_area :chapter_text %></br>
    <p>video</p><%= f.file_field :video %></br>
    <%= f.submit %>
  <% end %>
</div>


<div>

  <p>コメント件数：<%= @learning.learning_comments.count %></p>

  <% @learning.learning_comments.each do |learning_comment| %>
    <%= learning_comment.user.name %>
    <%= learning_comment.created_at.strftime('%Y/%m/%d') %><%= learning_comment.comment %>

    <% if learning_comment.user == current_user %>
    <div>
      <%= link_to "Delete", learning_learning_comment_path(learning_comment.learning, learning_comment), method: :delete %>
    </div>
    <% end %>

  <% end %>



</div>

<div>
  <%= form_with(model: [@learning, @learning_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>