<%= form_with model: [@learning, @chapter], local:true  do |f| %>
  <p>title</p><%= f.text_field :title %></br>
  <p>text</p><%= f.text_area :chapter_text %></br>
  <p>video</p><%= f.file_field :video %></br>
  <%= f.submit %>
<% end %>